<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">🔥 BriefApp</ion-title>
    <ion-buttons slot="secondary" (click)="logout()">
        <ion-icon slot="end" name="log-out" color="primary"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">🔥 BriefApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container"> -->
    <h2>  </h2>
    <div class="form-container">
      <ion-input [(ngModel)]="apiUrl" placeholder="Commerce Url"></ion-input>
      <ion-input [(ngModel)]="consumerKey" placeholder="consumerKey"></ion-input>
      <ion-input [(ngModel)]="consumerSecret" placeholder="consumerSecret"></ion-input>
      <ion-button class="big-button" (click)="getProducts()">Connect</ion-button>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col> Image </ion-col>
        <ion-col> Name </ion-col>
        <ion-col> SKU </ion-col>
        <ion-col> Price </ion-col>
        <ion-col> Categories </ion-col>
        <ion-col> Tags </ion-col>
        <ion-col> Featured </ion-col>
        <ion-col> Date </ion-col>
      </ion-row>
      <ion-row *ngFor="let product of processedProducts()">
        <ion-col> <ion-icon name="pencil"></ion-icon></ion-col>
        <ion-col>{{ product.name }}</ion-col>
        <ion-col>{{ product.sku || '-' }}</ion-col>
        <ion-col>{{ product.regular_price ? product.purchase_price+' - '+product.regular_price : '-' }}</ion-col>
        <ion-col>{{ product.categories }}</ion-col>
        <ion-col>{{ product.tags }}</ion-col>
        <ion-col><ion-icon [name]="product.featured ? 'star' : 'star-outline'" ></ion-icon></ion-col>
        <ion-col>{{ 'Last modified ' + (product.date_modified || product.date_created).substr(0,16).replace('T', ' at ') }}</ion-col>
      </ion-row>
    </ion-grid>
  <!-- </div> -->

</ion-content>
