<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      🔥 BriefApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">🔥 BriefApp</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <h2>🔥 Log in to Brief</h2>
    <div class="form-container">
      <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
      <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
      <ion-button class="big-button" (click)="login()">Log in</ion-button>
      <div>Don’t have an account? <button (click)="goToRegister()"> Sign up</button></div>
    </div> 
  </div>
</ion-content>
