<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      🔥 BriefApp
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">🔥 BriefApp</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">
    <h2>🔥 Create your Brief account</h2>
    <div class="form-container">
      <ion-input placeholder="Your name"></ion-input>
      <ion-input [(ngModel)]="email" placeholder="Email"></ion-input>
      <ion-input [(ngModel)]="password" placeholder="Password" type="password"></ion-input>
      <ion-button class="big-button" (click)="register()">Create account</ion-button>
      <div>Already have an account? <button (click)="goToLogin()"> Log in</button></div>
    </div>
  </div>
</ion-content>
